<app-lsnavbar></app-lsnavbar>
<div class="neon-container">
    <div class="neon-circle">
        <img src="../../../assets/logo.png" alt="EntreFusion Image" class="neon-text">
        <div class="about-text">About Website</div>
    </div>
    <div class="p-container">
        <div class="about-paragraph">
            <p>We envision a world where entrepreneurship is accessible to all, where creativity and determination are
                celebrated, and where collaboration leads to transformative change. Through our platform, we strive to
                empower individuals to turn their ideas into reality and create a positive impact in their communities
                and beyond.</p>
        </div>
    </div>
</div>