.container {
    padding: 20px;
  }
  
  .raw-material-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }
  
  .raw-material-tile {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
  }
  
  .raw-material-tile img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .buy-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buy-button:hover {
    background-color: #45a049;
  }
  