<app-hnavbar></app-hnavbar>

<body>
  <div class="main-container">
    <div class="side-panel" [ngClass]="{'collapsed': isCollapsed}">
      <button class="toggle-btn" (click)="toggleSidePanel()">
        <span class="material-icons">menu</span>
      </button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('ehome')">Home</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('rinquiry')">Raise Inquiry Tickets</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('viewinquiry')">View Inquiries</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('aip')">Apply for Investors & Partners</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('mpost')">Manage Posts</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('fadvisor')">Find Advisors</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('setg')">SetUp Goals and Targets</button>
      <button class="nav-btn" *ngIf="!isCollapsed" (click)="navigate('vbpro')">Business Profile</button>

    </div>


    <div class="content-container">
      <h2>Raise Inquiry Tickets</h2>

          <!-- Inquiry Form -->
    <form (submit)="submitInquiry()">
      <div>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" [value]="username" disabled>
      </div>

      <div>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="inquiryData.email" required>
      </div>

      <div>
        <label for="subject">Inquiry Type:</label>
        <select id="subject" name="subject" [(ngModel)]="inquiryData.subject" required>
          <option value="" disabled selected>Select Inquiry Type</option>
          <option value="business">Business Related</option>
          <option value="platform">Platform Related</option>
          <option value="other">Other</option>
        </select>
      </div>
      

      <div>
        <label for="message">Your Message:</label>
        <textarea id="message" name="message" rows="4" [(ngModel)]="inquiryData.message" required></textarea>
      </div>

      <div>
        <button type="submit">Submit Inquiry</button>
      </div>
    </form>
  </div>
</div>
</body>
