<div class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="http://localhost:4200/">Home</a></li>
      <li class="dropdown">
        <a class="dropbtn" href="http://localhost:4200/login">Become a Business Partner</a>
      </li>
      <li class="dropdown">
        <a class="dropbtn" href="http://localhost:4200/login">Become a Investor</a>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Become a Enrepreneur</a>
        <div class="dropdown-content">
          <a href="http://localhost:4200/login">Find Investors</a>
          <a href="http://localhost:4200/login">Find Partners</a>
          <a href="http://localhost:4200/login">Find Business Advisors</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Become a Startup Owner</a>
        <div class="dropdown-content">
            <a href="http://localhost:4200/login">Find Investors</a>
            <a href="http://localhost:4200/login">Find Partners</a>
            <a href="http://localhost:4200/login">Find Business Advisors</a>
        </div>
      </li>
    </ul>
  </div>
  