<app-hnavbar></app-hnavbar>
<div class="main-container">
  <div class="side-panel" [ngClass]="{'collapsed': isCollapsed}">
    <button class="toggle-btn" (click)="toggleSidePanel()">
      <span class="material-icons">menu</span> 
    </button>
    <button class="nav-btn" *ngIf="!isCollapsed"  (click)="navigate('ehome')">Home</button>
    <button class="nav-btn" *ngIf="!isCollapsed"  (click)="navigate('vbpro')">Business Profile</button>
    <button class="nav-btn" *ngIf="!isCollapsed"  (click)="navigate('bpro')">Edit Business Profile</button>
    <button class="nav-btn" *ngIf="!isCollapsed"  (click)="navigate('vgoal')">View Goals</button>
    <button class="nav-btn" *ngIf="!isCollapsed"  (click)="navigate('add-pitch')">Create Business Pitch</button>
    <button class="nav-btn" *ngIf="!isCollapsed"  (click)="navigate('view-pitch')">View Business Pitch</button>
  </div>
  <div class="content-container">
    <h2>View My Business Pitches</h2>
    <div class="pitch-cards">
      <div class="business-pitch-card" *ngFor="let pitch of businessPitches">
        <h3>{{ pitch.pitchTitle }}</h3>
        <div class="pitch-info">
          <label>Description:</label>
          <span>{{ pitch.pitchDescription }}</span>

          <label>Problem Statement:</label>
          <span>{{ pitch.problemStatement }}</span>

          <label>Solution:</label>
          <span>{{ pitch.solution }}</span>

          <label>Target Market:</label>
          <span>{{ pitch.targetMarket }}</span>

          <label>Market Opportunity:</label>
          <span>{{ pitch.marketOpportunity }}</span>

          <label>Business Model:</label>
          <span>{{ pitch.businessModel }}</span>

          <label>Marketing & Sales Strategy:</label>
          <span>{{ pitch.marketingAndSalesStrategy }}</span>

          <label>Financial Projections:</label>
          <span>{{ pitch.financialProjections }}</span>

          <label>Funding Requirements:</label>
          <span>{{ pitch.fundingRequirements }}</span>

          <label>Milestones & Timeline:</label>
          <span>{{ pitch.milestonesAndTimeline }}</span>

          <br><br>

          <button class="delete-button" (click)="deleteBusinessPitch(pitch.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>