.main-container {
    margin-top: 50px;
    margin-left: 200px;
    padding: 20px;
    padding-bottom: 50px;
    transition: margin-left 0.3s ease;
  }
  
  .side-panel {
    margin-top: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #0766AD;
    color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s; /* Add transition effect */
  }
  
  .collapsed {
    width: 50px; 
  }
  
  .toggle-btn {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    color: #fff;
    outline: none;
  }
  
  .material-icons {
    font-size: 24px; 
  }
  
  .nav-btn {
    width: 90%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #555;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.938); /* Glassy background */
  }
  
  .nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.685); /* Glassy background on hover */
  }
  
  .content-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  .content-container h3{
    font-size: 20px;
  }
  
  .pitch-cards {
    display: flex;
    justify-content: center; 
  }
  
  .business-pitch-card {
    flex: 0 0 calc(50% - 20px);
    max-width: 900px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .business-pitch-card h3 {
    color: #007736;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: underline;
  }
  
  .business-pitch-card p {
    color: #555;
    margin-bottom: 5px;
  }

  .business-pitch-card .pitch-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0766AD;
  }

  .delete-button {
    background-color: #FF4136; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .delete-button:hover {
    background-color: #D50000; 
  }
  
  
  